{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>ID Bien</th>
                <th>Descripción</th>
                <th>Modelo</th>
                <th>Nro. Serie</th>
                <th>Codigo Patrimonial</th>
                <th>Proveedor</th>
                <th>Fecha</th>
                <th>Bien Padre</th>
            </tr>
        </thead>
        <tbody>
            {% for item in listAsset %}
                <tr>
                    <td> {{ item.id }} </td>
                    <td> {{ item.fkdescription }} </td>
                    <td> {{ item.fkeqmodel }} </td>
                    <td> {{ item.serial }} </td>
                    <td> {{ item.codpat }} </td>
                    <td> {{ item.fkprovider }} </td>
                    <td> {{ item.datebuy }} </td>
                    <td> {{ item.assetfather }} </td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
{% endblock %}

<!-- <table class="table table-bordered">
    {% for i in listAsset %}
        <tr>
            <td> {# {i.fkdescription} #} </td>
            {# % for it in i.features.all % #}
                <td> {{ it.id }} </td>
                <td> {{ it }} </td>
            {# % endfor % #} 
            <td>Nro. Serie: {# { i.serial } #} </td>
        </tr>
    {% endfor %}
</table> -->