<!DOCTYPE html>
<html lang="es">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=divice-width, initial-scale=1, maximum-scale=1"> -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/canvas.js' %}"></script>
    <title> {% block title %}  {% endblock %} </title>
</head>
<body>
    <section class="container">
        <header class="flex-container">
            <div class="flex-item1">
                <figure class="image isotipo left">
                    <img src="{% static 'img/logoBlack.png' %}" alt="ANEAES">
                </figure>
                <!--<canvas width="261" height="120" id="dibujito"></canvas>-->
                <!--<script>begin();</script>-->
            </div>
            <div class="flex-item2">
                <h4> {{ title|upper }} </h4>
            </div>
        </header>
        {% block content %} {% endblock %}
    </section>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>